// light theme
$BgColor: #ffffff;

$txColor: #5e6983;

$labelColor: #606266;

//$linkColor: #608fff;
$linkColor: #32e08d;

$wrapperColor: #ebeef8;

$wrapperBorder: #ced3e5;

$btnColor: #32e08d;

$navBorder: #ffffff;

$borderColor: #dfe4ef;

$txColor2: #A0A0A0;

$detailBar: #ffffff;
//##ced3e5


// dart theme
$BgColor_Dark_Dark: #181837;

$txColor_Dark: #5e6983;

$labelColor_Dark: #75759F;

$wrapperColor_Dark: #ebeef8;

$wrapperBorder_Dark: #ced3e5;

$linkColor_Dark: #32e08d;

$btnColor_Dark: #004884;

$navBorder_Dark: #121227;

$borderColor_Dark: #24244C;

$txColor2_Dark: #A0A0A0;

$detailBar_Dark: #242449;
